@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');


body{
    background: rgb(65, 65, 65);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 30%, rgb(0, 0, 0) 100%), url("../images/bg-masthead.jpg");
    background-position: unset;
    background-repeat: no-repeat;   
    background-attachment: fixed;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: #313131;
}
    
::-webkit-scrollbar-track {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 0px;
}
    
::-webkit-scrollbar-thumb {
    background: rgb(165, 165, 165);  
    border-radius: 0px;
}
    
::-webkit-scrollbar-thumb:hover {
    background: rgb(71, 71, 71);  
}

.lista{
    padding-left: 60px;
    margin-right: 60px;
}

.scroll{
    overflow-y: auto; 
    display: block; 
    height: 75vh; 
    opacity: 0.9
}


.menuLateral{
    position: fixed;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    height: 500px;
    background: #313131;
    width: 55px;
    box-shadow: 7px 0 0 #007bff;
    
    overflow-x: hidden;
    transition: 0.7s;
    z-index: 1;
}

.menuLateral:hover{
    width: 300px;
}

.menuLateral ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 1px;
    padding-top: 50px;
}

.menuLateral ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.menuLateral ul li a{
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: white;
}

.menuLateral ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.menuLateral ul li a .icon ion-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.menuLateral ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.menuLateral ul li a:hover{
    background: #007bff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.menuLateral ul li a:hover::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #313131;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #007bff;
}

.menuLateral ul li a:hover::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #313131;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #007bff;
}

/*.menuLateral ul li.active{
    background: #007bff;
}

.menuLateral ul li.active a::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: rgb(68, 68, 68);
    border-radius: 50%;
    box-shadow: 15px 15px 0 #007bff;
}

.menuLateral ul li.active a::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: rgb(68, 68, 68);
    border-radius: 50%;
    box-shadow: 15px -15px 0 #007bff;
}*/