<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Estudantes</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>



<body style="background-color: #3a3a3a;">

    <div th:replace="frags/fragNav :: nav"></div>

	<div class="panel panel-default mt-5 mb-2" style="margin: 80px">
		<div class="panel-heading">
			<h1 class="panel-title display-3 text-light">Lista de Estudantes</h1>
		</div>
		<div class="panel-body">

            <div class="row">
                <div>
                    <a th:href="@{/estudantes/novo}" class="btn btn-primary mb-3 ml-3">Adicionar estudante</a>
                </div>
            </div>
            
            <table class="table table-hover table-striped table-dark table-bordered">
                <thead class="">
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Sala</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="e : ${estudantes}" th:class="${e.sala} ?: bg-info">
                        <td th:text="${e.id}"></td>
                        <td th:text="${e.nome}"></td>
                        <td th:text="${e.email}"></td>
                        <td th:text="${e.sala} ? ${e.sala.desc} : 'SEM SALA'"> </td>
                    </tr>
                </tbody>
            </table>
		</div>
	</div>
</body>
</html>
