<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title th:text="${tipo}"></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>



<body>

    <div th:replace="frags/fragNav :: nav"></div>


	<div class="panel panel-default mb-2 ml-5 lista">
		<div class="panel-heading">
			<h3 class="panel-title display-4 text-light">Lista de <a th:text="${tipo}"></a></h3>
		</div>
		<div class="panel-body">


            <div th:replace="frags/listasFrag :: ${tipo}"></div>


		</div>
	</div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <script>
    const list = document.querySelectorAll('.list');
    function activeLink(){
      list.forEach((item) =>
      item.classList.remove('active'));
      this.classList.add('active');
    }
      list.forEach((item) =>
      item.addEventListener('click', activeLink));
  </script>
</body>
</html>
